<%= _.template(require('./../includes/header.html'))({
  title: title,
  description: description,
  keywords: keywords
}) %>

  <section class="block" style="padding-top: 4rem;">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Ошибка 403:</h1>
          <h3>Я не знаю тебя... Здесь ты не пройдешь!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col text-center" style="margin-top: 3rem;">
          <img class="img-fluid" src="assets/img/403.gif" alt="403">
        </div>
      </div>
    </div>
  </section>

<%= _.template(require('./../includes/footer.html'))() %>

</body>
</html>
