<%= _.template(require('./../includes/header.html'))() %>

<section class="block">
  <div class="container">
    <h2>Семейная гештальт-терапия</h2>
    <p>Разводиться или нет с мужем или женой (нужное подчеркнуть) не тот совет, за которым стоит обращаться к психологу. Модель развития межличностных отношений в паре известна и хорошо изучена, а вот продолжительность совместного пути партнеров зависит лишь от них самих. Семейная психотерапия и своевременное обращение к психологу и желание работать над отношениями повышает осознанность в паре укрепляют союзы, являются основой гармоничных отношений.</p>
    <p>К сожалению, большинство пар распадается пытаясь решить проблемы самостоятельно, не прибегая к помощи психолога. Фраза «не выносить сор из избы» часто зло шутит с партнерами. Люди не привыкли рассказывать о проблемах в отношениях посторонним, в том числе профессионалам, поэтому к психологу приходят только на грани развода, когда межличностная коммуникация доходит до нулевого уровня.</p>
    <p>Еще одна проблема, связанная с нашим менталитетом – нежелание мужчин обращаться к психологу. Ведь для них это равносильно жалобе, которая заставляет выглядеть слабым, что часто запрещается на уровне родительских установок и осуждается социумом. Однако, если отбросить все предрассудки и обратиться к психотерапии пар есть шанс выйти на новый уровень счастливых отношений или все таки расстаться мирно.</p>
    <p>Также парная терапия может быть в формате детско-родительских отношений.</p>
    <p>Мы приглашаем Вас в терапию и работаем в паре – Павел Кизернис и Ольга Грабун. Такая коллаборация на наш взгляд позволяет получить поддержку в паре с разных сторон и наиболее широко.</p>
    <p>К нам часто обращаются с запросами:</p>
    <ul>
      <li>Повторяющиеся конфликты, которые не разрешаются по прошествии времени;</li>
      <li>Если негатива в отношениях больше, чем позитива;</li>
      <li>Нарушение коммуникации, отсутствие или сложности в ведении доверительных бесед, завершение разговоров ссорами и обидами;</li>
      <li>Если пропали любовь и взаимоуважение;</li>
      <li>Отсутствие доверия, неуверенность в партнере;</li>
      <li>Невозможно самостоятельно понять происходящее в паре, посмотреть на жизнь и взаимоотношения со стороны, без предвзятостей;</li>
      <li>Проблемы в сексе.</li>
    </ul>
    <p>Семейная психотерапия рассматривает семью как единую систему и поэтому консультирование проводится не в индивидуальном порядке для каждого из партнеров, а совместно – с обоими супругами. Чаще консультирование проводится в форме беседы, где каждый из партнеров может свободно выражать мнения, страхи и переживания, а также может получить новый опыт быть услышанным и понятым партнером.</p>
    <div class="article-photo">
      <img src="assets/img/pavel-olga.jpg" alt="Photo">
    </div>
  </div>
</section>

<section class="block" style="margin-bottom: 1rem;">
  <div class="container text-center">
    <h3>Для записи на консультацию
      <br>звоните: <a href="tel:+79493047071" target="_blank">+79493047071</a>
      <br>или пишите в телегу: <a href="https://t.me/pashakiz" target="_blank">@pashakiz</a>
    </h3>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>

</body>
</html>
