<%= _.template(require('./../includes/header.html'))() %>

<section class="block">
  <div class="container">
    <h2>Терапевтическая группа – что это?</h2>
    <p>Это место, где собираются люди, у которых есть интерес к себе, к своей жизни, к своим отношениям. Люди, переживающие сложности, конфликты, внутренние противоречия. Терапевтическая группа – это «маленькая жизнь», модель реальной жизни.</p>
    <p>Это процесс взаимодействия. То есть вы общаетесь в группе и начинаете понимать, что все, что происходит, похоже на происходящее в вашей жизни. С одним важным отличием – другие участники говорят вам то, о чем близкие предпочитают умалчивать.</p>
    <p>Многое, что для нас является проблемой, с чем мы не можем справиться, проявляется и на группе. Это один из самых действенных путей познания себя и изменения отношений с другими людьми.</p>
    <h3>Для чего нужна терапевтическая группа?</h3>
    <p>Для того, чтобы исследовать непростые темы, ощутить поддержку, увидеть себя глазами другого человека. Здесь не нужно соответствовать чьим-то ожиданиям и «держать лицо», здесь никого не призывают любить и быть «хорошим». Можно злиться, грустить, плакать, смеяться, говорить глупости. Можно испытывать к людям разные чувства, не бояться этого и видеть, как это отзывается в других. Здесь можно сосредоточиться на себе. Группа – это место, где разные люди помогают друг другу думать о себе, о своих чувствах и желаниях.</p>
    <p>Группа, как «система зеркал», дающая объемное представление о себе. Опыт отношений с другими людьми, полученный в терапевтической группе, станет вам большой подсказкой в обычной жизни.</p>
    <h3>Что происходит на терапевтической группе?</h3>
    <p>В первую очередь, на группе работают с актуальными запросами, переживаниями участников. Они сами задают направление, которое для них важно в данный момент.</p>
    <p>В процессе разговаривают, спорят, моделируют ситуации, проводят эксперименты, исследуют себя.</p>
    <p>Групповая терапия тем и хороша, что в ней так же, как и в жизни…невозможно предсказать события и избежать трудностей. Все – как в жизни.</p>
    <p>Групповая терапия – очень увлекательный процесс!</p>
    <h3>Есть ли у терапевтической группы правила?</h3>
    <p>Да. Их бывает несколько, и они вырабатываются участниками группы в самом начале работы, но есть два основных базовых правила:</p>
    <ol>
      <li>Конфиденциальность. Все, что происходит в группе не выходит за ее пределы. Это правило защищает участников группы от внешнего мира, дает возможность говорить о себе честно без опасений, что слова станут сплетней и будут услышаны кем-либо за пределами группы.</li>
      <li>Запрет на физическое насилие. Это правило защищает участников друг от друга и дает возможность научиться решать сложные ситуации с помощью слов, а не с помощью действий.</li>
    </ol>
    <h3>Чего не будет на терапевтической группе?</h3>
    <p>Оценок, нравоучений, осуждения, принуждения, насилия.</p>
    <h3>Как позаботиться о себе?</h3>
    <p>Вы можете в любой момент сказать «стоп!», если не захотите соприкасаться с чем-то, что происходит на группе. Вы можете останавливать адресованные вам вопросы, высказывания, можете обращаться к терапевтам за помощью. У каждого участника собственный темп психологической работы.</p>
    <h3>Открытость группы</h3>
    <p>Обычно цикл жизни группы с сентября по май. Как правило, группа закрывается на какой-то срок. Это означает, что в нее больше нельзя добавить новых участников. Делается это для обеспечения привычной и более безопасной обстановки, для создания более тесных и близких взаимоотношений внутри группы.</p>
  </div>
</section>

<section class="block" style="margin-bottom: 1rem;">
  <div class="container text-center">
    <h3>Для записи на группу
      <br>звоните: <a href="tel:+79493047071" target="_blank">+79493047071</a>
      <br>или пишите в телегу: <a href="https://t.me/pashakiz" target="_blank">@pashakiz</a>
    </h3>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>

</body>
</html>
