<%= _.template(require('./../includes/header.html'))() %>

<section class="block">
  <div class="container">
    <h2>Мужской круг: Сила в Откровении</h2>
    <p><b>Чисто мужская группа, Гештальт-подход.</b><br>Приглашаем мужчин, которые устали «тянуть» в одиночку и готовы к честному разговору о своей жизни.</p>
    <h3>Нам есть, что обсудить:</h3>
    <ul>
      <li>Давление ответственности и синдром «вечного должен».</li>
      <li>Сложности в отношениях с женщинами, детьми, родителями.</li>
      <li>Как управлять агрессией и где найти место для уязвимости.</li>
      <li>Чувство изоляции: почему сложно найти настоящих друзей.</li>
      <li>Поиск смысла и реализация себя вне карьерных достижений.</li>
    </ul>
    <h3>Что происходит в Группе?</h3>
    <p>Группа — это безопасное, но честное пространство, где можно <i><b>открыть свою карту, а не играть роль</b></i>.</p>
    <p></p>
    <p>Пользуясь преимуществами гештальт-подхода, мы с вами создадим условия, в которых вы сможете:</p>
    <ul>
      <li><b>Увидеть себя со стороны:</b> Как вы строите отношения, как проявляете злость, как избегаете близости.</li>
      <li><b>Получить честную обратную связь:</b> Это не дружеские посиделки, а глубокая работа. От других мужчин вы услышите то, что никогда не скажет ни жена, ни коллега.</li>
      <li><b>Найти свой способ быть сильным:</b> Истинная мужская сила — это не только терпение, но и способность ясно понимать свои чувства и управлять ими.</li>
    </ul>
    <h3>Вы можете получить:</h3>
    <ul>
      <li><b>Четкость.</b> Наведете порядок в мыслях и приоритетах.</li>
      <li><b>Свобода.</b> Научитесь проживать эмоции, не подавляя себя и не разрушая отношения.</li>
      <li><b>Опора.</b> Сформируете более устойчивое ощущение себя, которое не зависит от внешних успехов.</li>
      <li><b>Навыки.</b> Улучшите коммуникацию, научитесь выстраивать границы и говорить "нет".</li>
    </ul>
    <p><b>Формат работы:</b> Закрытая группа (после старта новые участники не приходят). Гештальт-подход.</p>
    <p>Группа будет проходить по субботам, 2 раза в месяц. <a href="https://t.me/pashakiz_blog/57" target="_blank">Подробнее...</a></p>
    <h3>Ведущие:</h3>
    <div class="article-photo-sq">
      <img src="assets/img/pavel-alex.jpg" alt="Photo">
    </div>
    <div class="authors-line">
      <div class="author-line">
        <p><b>Алексей Забирко</b><br><i>Психолог, гештальт-подход</i></p>
      </div>
      <div class="author-line author-line_text-end">
        <p><b>Павел Кизернис</b><br><i>Психолог, аккредитованный гештальт-терапевт</i></p>
      </div>
    </div>
    <p style="text-align: center">Количество мест ограничено.</p>
    <p style="text-align: center">Это инвестиция в ваше качество жизни.</p>
  </div>
</section>

<section class="block" style="margin-bottom: 1rem;">
  <div class="container text-center">
    <h3>Чтобы узнать подробности и записаться на предварительное собеседование
      <br>звоните: <a href="tel:+79493047071" target="_blank">+79493047071</a>
      <br>или пишите в телегу: <a href="https://t.me/pashakiz" target="_blank">@pashakiz</a>
    </h3>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>

</body>
</html>
