<%= _.template(require('./../includes/header.html'))() %>

  <section class="block">
    <div class="container">
      <div class="firstscreen row">
        <div class="col-12 col-md-4">
          <div class="firstscreen__aboutphoto">
            <img src="assets/img/pavel.jpg" alt="Photo">
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="firstscreen__text">
            <p>Мне, правда, интересны люди...</p>
            <p>По первой своей профессии я программист, что характеризует меня, как человека с аналитическим складом ума.</p>
            <p>По второй своей профессии я психолог (в гештальт подходе), что позволило мне развить в себе чувствительность и креативность.</p>
            <p>В совокупности я могу быть одновременно полезен, как в подробном разборе и осознании сложных жизненных ситуаций, так и в сопереживании и поиске нестандартных решений.</p>
            <p>От меня можно ожидать искренней, прямолинейной и честной обратной связи (которую порой невозможно получить от самых близких людей).</p>
            <p>В то же время я довольно чуток и внимателен, так как для меня важны доверие и безопасность.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="block block_shadow">
    <div class="container">
      <p>Чего от меня ожидать не стоит:</p>
      <ul>
        <li>неискренней лести и прочих реверансов;</li>
        <li>волшебной таблетки или пенделя;</li>
        <li>"излечения" за 1-2 встречи.</li>
      </ul>
      <p>Темы, с которым я часто сталкиваюсь в работе:</p>
      <ul>
        <li>самооценка;</li>
        <li>сложности в отношениях (семья, работа, дружба);</li>
        <li>горе от утраты;</li>
        <li>нарушения пищевого поведения;</li>
        <li>проживание развода/расставания;</li>
        <li>фобии/страхи;</li>
      </ul>
      <p>В том числе работаю и с семейными парами. В данном случае работаю в паре с коллегой (женщиной). Как показывает практика в таком формате обоим супругам проще найти гарантированную опору и понимание.</p>
      <p>Принимаю очно в г. Донецк (<a href="https://yandex.ru/maps/-/CDU7YL4J" target="_blank">площадь Конституции 1, Дом быта «Кальмиус»</a>) или онлайн (по видеосвязи).</p>
    </div>
  </section>

  <section class="block">
    <div class="container">
      <h2 class="text-center">Стоимость</h2>
      <div class="price-wrap">
        <div class="price">
          <div class="price__info">
            <div class="price__title">Очно</div>
            <div class="price__descr">[60 минут] Личный прием в Донецке<br>Первая встреча: +30 мин бесплатно для знакомства</div>
          </div>
          <div class="price__value">₽2000</div>
        </div>
        <div class="price">
          <div class="price__info">
            <div class="price__title">Онлайн</div>
            <div class="price__descr">[60 минут] Видеозвонок<br>Первая встреча: +30 мин бесплатно для знакомства</div>
          </div>
          <div class="price__value">₽2000</div>
        </div>
        <div class="price">
          <div class="price__info">
            <div class="price__title">Семейная терапия</div>
            <div class="price__descr">[90 минут] Веду совместно с коллегой (женщиной). <br class="price__descr_br">Терапия для пар (совместно). <a href="/family.html" target="_blank">Подробнее</a></div>
          </div>
          <div class="price__value">₽4000</div>
        </div>
        <div class="price">
          <div class="price__info">
            <div class="price__title">Групповая терапия</div>
            <div class="price__descr">[от 3 часов] Веду совместно с коллегой (женщиной). <br class="price__descr_br">Группы по ~8 человек. <a href="/group.html" target="_blank">Подробнее</a></div>
          </div>
          <div class="price__value">₽1500</div>
        </div>
      </div>
    </div>
  </section>

  <section class="block" style="margin-bottom: 1rem;">
    <div class="container text-center">
      <h3>Для записи на консультацию
        <br>звоните: <a href="tel:+79493047071" target="_blank">+79493047071</a>
        <br>или пишите в телегу: <a href="https://t.me/pashakiz" target="_blank">@pashakiz</a>
      </h3>
    </div>
  </section>

<%= _.template(require('./../includes/footer.html'))() %>

</body>
</html>
