//.footer {}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer_text {
  font-size: 10px;
  padding: 4px 0 0 0;
  @media (min-width: 768px) {
    font-size: 12px;
    padding: 4px 0 0 0;
  }
}
